{# <div class="content">
    {{ post.content }}
</div> #}
<article class="annonce-item">
    <div class="card">

        {% if post.thumbnail %}
            <img src="{{ post.thumbnail.src }}" class="card-img-top" alt="{{ post.title }}">
        {% else %}
            <img src="https://placehold.co/600x400" class="card-img-top" alt="Image par défaut">
        {% endif %}

        <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>

            {% if post.terms('annonce_type') %}
                <p class="card-text">
                    <strong>Catégorie(s) :</strong>
                    {% for category in post.terms('annonce_type') %}
                        <a href="{{ category.link }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}

            <p class="card-text"><small class="text-body-secondary">Publié le : {{ post.date }}</small></p>
        </div>
    </div>
</article>

